.formBackdrop {
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	backdrop-filter: blur(15px);
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
}
.formContainer {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 0;
	flex-flow: column nowrap;
	background-color: var(--bg-color);
	border: 1px var(--outline-color) solid;
	border-radius: 16px;
	padding: 16px;
}

.formContainer h2 {
	text-align: center;
}

.active {
	display: flex;
}
