.addForm {
	gap: 32px;
	display: flex;
	flex-flow: column nowrap;
}

.formTitle {
	text-align: center;
}

.addForm div {
	border-radius: 16px;
	border: 1px var(--outline-color) solid;
	padding: 32px;
	display: flex;
	flex-flow: column nowrap;
	width: 500px;
	align-self: center;
}
