.addForm {
	gap: 32px;
	display: flex;
	flex-flow: column nowrap;
}

.formTitle {
	text-align: center;
}

.formContent {
	border-radius: 16px;
	border: 1px var(--outline-color) solid;
	padding: 32px;
	display: flex;
	flex-flow: column nowrap;
	width: 500px;
	align-self: center;
}

.submitButtonsContainer {
	display: flex;
	flex-flow: row wrap;
}

.accept {
	border: 1px var(--accept-color) solid;
}

.decline {
	border: 1px var(--decline-color) solid;
}
