.layoutContainer {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	background-color: var(--accent-bg-color);
	border-bottom: 1px var(--accent-bg-outline-color) solid;
	border-radius: 16px;
	padding: 8px 5%;
}

body {
	background-color: var(--bg-color);
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
}

main {
	flex: 1 0 auto;
	margin: 32px auto;
	padding: 0px 5%;
	max-width: 100%;
	width: 100%;
}

footer {
	margin-top: auto;
	flex-shrink: 0;
}

menu ul {
	display: flex;
	flex-flow: row wrap;
	gap: 16px;
}
.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.historyIcon {
	fill: var(--text-color);
	height: 36px;
	width: 36px;
	transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.historyIcon:hover {
	fill: var(--accent-color);
}

.historyIcon:active {
	scale: 0.8;
}

.icon {
	height: 36px;
	width: 36px;
	color: var(--text-color);
	stroke: var(--text-color);
	transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.icon:hover {
	stroke: var(--accent-color);
}

.icon:active {
	scale: 0.8;
}

.footerContainer {
	background-color: var(--accent-bg-color);
	width: 100%;
	border-radius: 16px;
	border-top: 1px solid var(--accent-bg-outline-color);
	padding: 16px 5%;
}
